fieldset {
  padding-inline-start: 0;
  border: none;
}
legend {
  font-weight: bolder;
  padding-left: 25px;
}
.name {
  margin-left: 10px;
  width: 200px;
  float: left;
}
.account {
  margin-left: 10px;
  width: 200px;
  float: left;
}
.name1 {
  margin-left: 10px;
  width: 200px;
  float: left;
}
.name2 {
  margin-left: 10px;
  width: 150px;
  float: left;
}
.name3 {
  margin-left: 10px;
  width: 150px;
  float: left;
}
.Dropdown1 {
  margin-left: 10px;
  width: 150px;
  float: left;
}
.Dropdown2 {
  margin-left: 10px;
  width: 175px;
  float: left;
}

.name4 {
  margin-left: 10px;
  width: 150px;
  float: left;
}

.modal-container {
  min-height: 50vh;
  min-width: 50vw;
}
  .modal-header {
    color: black;
    font-size: 2em;
    padding: 5px 0px 2px 20px;
    min-height: 20px;
  }

  .modal-footer {
    padding: 10px 18px;
    overflow: hidden;
    bottom: 15px;
    left: 20px;
  }
